[submodule "deep-steganography"]
	path = deep-steganography
	url = https://github.com/Daniel-EST/deep-steganography.git
[submodule "LSB_Steganography"]
	path = LSB_Steganography
	url = https://github.com/RobinDavid/LSB-Steganography.git
