[submodule "LSB-Steganography"]
	path = LSB-Steganography
	url = https://github.com/RobinDavid/LSB-Steganography.git
[submodule "PyTorch-Deep-Image-Steganography"]
	path = PyTorch-Deep-Image-Steganography
	url = https://github.com/arnoweng/PyTorch-Deep-Image-Steganography.git
